SUMARIZACAO_LLMS/__pycache__
SUMARIZACAO_LLMS/bart_finetuned
SUMARIZACAO_LLMS/data
SUMARIZACAO_LLMS/notebooks
SUMARIZACAO_LLMS/venv
SUMARIZACAO_LLMS/.env
SUMARIZACAO_LLMS/dowloald_bart_finetuned_cnn.py